@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  background-image: url('./assets/images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
